@import url("https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Sulphur Point', sans-serif;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23e5e170' fill-opacity='0.48'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px); }
  25% { }
  50% { }
  75% {
    opacity: 0.7;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  25% { }
  50% { }
  75% {
    opacity: 0.7;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(200px); }
  25% { }
  50% { }
  75% {
    opacity: 0.7;
    transform: translatey(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slide {
  0% {
    margin-top: -2.8em; }
  20% {
    margin-top: 0; }
  28% {
    margin-top: 0; }
  39% {
    margin-top: 2.7em; }
  56% {
    margin-top: 2.7em; }
  82% {
    margin-top: 0; }
  100% {
    margin-top: 0; } }

@keyframes primaryHeadingSlide {
  0% {
    display: block; }
  100% {
    display: none; } }

@keyframes roomImageSlide {
  0% {
    margin-top: 0; }
  20% {
    margin-top: 0; }
  30% {
    margin-top: -15em; }
  40% {
    margin-top: -15em; }
  50% {
    margin-top: -30em; }
  65% {
    margin-top: -30em; }
  80% {
    margin-top: -15em; }
  100% {
    margin-top: -15em; } }

.header {
  height: 95vh;
  width: 100%;
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }

.logo-box {
  position: absolute;
  top: 2em;
  left: 2em; }

.brand-name {
  text-transform: uppercase;
  font-size: 1.3em;
  color: white;
  border: 2px 0 2px 0;
  border-color: white;
  letter-spacing: 0.2em;
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

.hero-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.primary-heading {
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 0.1em;
  backface-visibility: hidden;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.tag-line {
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  text-align: center;
  font-size: 1.2em;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

@media only screen and (max-width: 1024px) and (min-width: 767) {
  .header {
    clip-path: polygon(0 0, 100% 0%, 100% 40vh, 0% 100%);
    height: 50vh; } }

@media only screen and (max-width: 768) and (min-width: 410) {
  .primary-heading {
    font-size: 1.5em; } }

@media only screen and (max-width: 411) {
  .header {
    clip-path: polygon(0 0, 100% 0%, 100% 40vh, 0% 100%);
    height: 70vh; } }

.section {
  height: 80vh;
  margin: 1em auto 1em auto;
  width: 80vw;
  display: flex;
  flex-flow: row;
  justify-content: flex-end; }

.about {
  background: rgba(227, 178, 60, 0.5);
  color: #e05483;
  display: flex;
  flex-flow: column;
  padding: 2em;
  justify-content: center; }
  .about h1 {
    background-image: linear-gradient(to right, #8b8830, #3f3e16);
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.7em;
    padding-left: 0.5em;
    border-left: 3px solid #494043; }
  .about p {
    margin: 1em auto;
    color: #3c3436;
    padding-top: 0.5em;
    height: 100%;
    overflow: auto; }

.intro-image {
  height: 100%;
  position: relative; }
  .intro-image img {
    background-image: linear-gradient(to right, #3c3436, #2E282A);
    width: 40vw;
    height: 100%;
    object-fit: cover; }

@media only screen and (max-width: 1024px) and (min-width: 767) {
  .header {
    clip-path: polygon(0 0, 100% 0%, 100% 40vh, 0% 100%);
    height: 50vh; } }

@media only screen and (max-width: 420px) {
  .section {
    height: 50vh;
    flex-flow: column;
    align-content: center;
    margin-top: 5em;
    margin-bottom: -3em; }
  .about {
    width: 80vw;
    margin: 25em auto 0 auto; }
    .about p {
      height: 40vh;
      overflow: auto; }
  .intro-image img {
    width: 100%;
    display: none; } }

@media only screen and (max-width: 360) {
  .about {
    width: 80vw;
    margin: 60vh auto 0 auto; } }

.our-rooms-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 15vh, 100% 0%, 100% 85vh, 0% 100%);
  display: flex;
  flex-flow: column;
  justify-content: center; }
  .our-rooms-section .content {
    width: 85vw;
    margin: 0 auto;
    height: 65vh;
    display: flex;
    justify-content: space-around; }
    .our-rooms-section .content .card {
      width: 20em;
      border-radius: 0.5em;
      overflow: hidden;
      background-color: #1B1F3B;
      display: inline-block;
      color: white;
      -webkit-box-shadow: 10px 10px 11px -6px rgba(0, 0, 0, 0.43);
      -moz-box-shadow: 10px 10px 11px -6px rgba(0, 0, 0, 0.43);
      box-shadow: 10px 10px 11px -6px rgba(0, 0, 0, 0.43); }
      .our-rooms-section .content .card .slider {
        padding: 0;
        width: 100%;
        height: 12em;
        overflow: hidden;
        display: flex;
        flex-flow: column; }
        .our-rooms-section .content .card .slider img {
          width: 100%;
          height: 15em;
          object-fit: cover;
          object-position: bottom; }
        .our-rooms-section .content .card .slider img:first-child {
          animation: roomImageSlide 10s ease-in-out infinite; }
      .our-rooms-section .content .card h4 {
        padding: 0.4em 0.5em;
        font-size: 1.3em;
        text-transform: uppercase;
        text-align: center; }
      .our-rooms-section .content .card .rates {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23747350' fill-opacity='0.4' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
        padding: 0.5em; }
        .our-rooms-section .content .card .rates .rate-card {
          margin: 0.5em 0.6em;
          border: 2px dotted white;
          height: 4em;
          display: flex;
          justify-content: space-around;
          align-items: center; }
          .our-rooms-section .content .card .rates .rate-card h5 {
            font-size: 1.2em; }
          .our-rooms-section .content .card .rates .rate-card p {
            padding: 0.5em;
            border-radius: 0.3em;
            background-image: linear-gradient(to right, #e05483, #c42459);
            font-weight: 600; }

@media only screen and (max-width: 1024px) {
  .our-rooms-section {
    height: 65vh;
    clip-path: polygon(0 15vh, 100% 0%, 100% 46vh, 0% 100%); }
    .our-rooms-section .content {
      height: 30vh; } }

@media only screen and (max-width: 768px) {
  .our-rooms-section {
    height: 95vh;
    clip-path: polygon(0 15vh, 100% 0%, 100% 75vh, 0% 100%); }
    .our-rooms-section .content {
      height: 40vh; } }

@media only screen and (max-width: 420px) {
  .our-rooms-section {
    height: 150vh;
    clip-path: polygon(0 15vh, 100% 0%, 100% 135vh, 0% 100%);
    overflow: auto; }
    .our-rooms-section .content {
      height: 120vh;
      flex-flow: column;
      align-items: center;
      justify-content: space-evenly; } }

@media only screen and (max-width: 375px) {
  .our-rooms-section {
    height: 170vh;
    clip-path: polygon(0 15vh, 100% 0%, 100% 150vh, 0% 100%); }
    .our-rooms-section .content {
      height: 140vh; } }

@media only screen and (max-width: 320px) {
  .our-rooms-section {
    height: 190vh;
    clip-path: polygon(0 15vh, 100% 0%, 100% 180vh, 0% 100%); }
    .our-rooms-section .content {
      height: 140vh; } }

.why-choose-us-section {
  display: flex;
  flex-flow: column;
  align-items: center; }
  .why-choose-us-section .heading-section {
    font-size: 2.5em;
    background-image: linear-gradient(to right, #e05483, #1B1F3B);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase; }
  .why-choose-us-section .desc {
    width: 40em;
    text-align: center;
    color: #3f3e16;
    border: 2px solid #3f3e16;
    padding: 0.5em;
    border-radius: 0.4em;
    margin: 0.5em;
    font-size: 0.9em; }
  .why-choose-us-section .reasons {
    width: 70%;
    margin: 1em 0.5em; }
    .why-choose-us-section .reasons .single-reason {
      display: flex;
      align-items: center;
      margin: 0.9em 0;
      justify-content: space-around; }
      .why-choose-us-section .reasons .single-reason img {
        height: 13em;
        width: 13em;
        border-radius: 50%;
        object-fit: cover; }
      .why-choose-us-section .reasons .single-reason .info {
        width: 70%; }
        .why-choose-us-section .reasons .single-reason .info h3 {
          background-image: linear-gradient(to right, #e05483, #1B1F3B);
          color: white;
          display: inline-block;
          padding: 0.5em 1em;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 1px;
          border-radius: 0.2em; }
        .why-choose-us-section .reasons .single-reason .info p {
          color: #434d92;
          padding: 0.5em 0;
          font-size: 0.9em; }

@media only screen and (max-width: 768px) {
  .why-choose-us-section .reasons {
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: center; }
    .why-choose-us-section .reasons .single-reason {
      flex-flow: column;
      align-items: center;
      justify-content: center; }
      .why-choose-us-section .reasons .single-reason .info h3 {
        text-align: center;
        display: block;
        margin: 0 auto; }
      .why-choose-us-section .reasons .single-reason .info p {
        text-align: center; } }

@media only screen and (max-width: 420px) {
  .why-choose-us-section .desc {
    width: 90%; }
  .why-choose-us-section .reasons {
    width: 90%s; }
    .why-choose-us-section .reasons .single-reason .info {
      margin-left: 0.5em; } }

.facilities {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  -moz-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  display: flex;
  flex-flow: column;
  justify-content: center; }
  .facilities .content {
    height: 70%;
    overflow: auto;
    width: 80%;
    margin: 0 auto;
    display: flex; }
    .facilities .content .facility-card {
      width: 300px;
      display: flex;
      flex-flow: column;
      margin: 1em;
      justify-content: flex-start;
      align-items: center;
      color: white;
      -webkit-box-shadow: 6px 11px 16px -4px rgba(0, 0, 0, 0.58);
      -moz-box-shadow: 6px 11px 16px -4px rgba(0, 0, 0, 0.58);
      box-shadow: 6px 11px 16px -4px rgba(0, 0, 0, 0.58);
      background-color: rgba(27, 31, 59, 0.75); }
      .facilities .content .facility-card:nth-child(even) {
        background-color: rgba(224, 84, 131, 0.75);
        color: black; }
      .facilities .content .facility-card img {
        height: 12em;
        width: 300px;
        object-fit: cover;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 57% 80%, 40% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 57% 80%, 40% 100%, 0 100%);
        -moz-clip-path: polygon(0 0, 100% 0, 100% 80%, 57% 80%, 40% 100%, 0 100%); }
      .facilities .content .facility-card .info {
        width: 70%;
        position: relative; }
        .facilities .content .facility-card .info h3 {
          text-align: right;
          position: absolute;
          top: -35px;
          right: -30px;
          font-size: 1.6em;
          text-transform: uppercase; }
        .facilities .content .facility-card .info p {
          margin: 1em 0;
          font-size: 0.9em;
          overflow: auto; }

@media only screen and (max-width: 768px) {
  .facilities {
    height: fit-content;
    padding: 20em 0;
    clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);
    -webkit-clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);
    -moz-clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%); }
    .facilities .content {
      flex-flow: column;
      align-items: center;
      width: 95%; }
      .facilities .content .facility-card {
        padding-bottom: 1em; } }

.testimonials-section h1 {
  font-size: 2.5em;
  background-image: linear-gradient(to left, #1B1F3B, #e05483);
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  margin: 1em auto; }

.testimonials-section .testimonial-list {
  width: 60%;
  margin: 0 auto; }

.testimonials-section .testimonial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em; }
  .testimonials-section .testimonial .visitor img {
    height: 15em;
    width: 15em;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #e05483; }
  .testimonials-section .testimonial .visitor .visitor-info {
    text-align: center;
    color: #1B1F3B; }
    .testimonials-section .testimonial .visitor .visitor-info h4 {
      font-size: 1.9em; }
  .testimonials-section .testimonial .message {
    width: 60%; }
    .testimonials-section .testimonial .message .msg {
      border: 2px dotted #e05483;
      padding: 1em;
      color: #1B1F3B;
      font-weight: 500; }
    .testimonials-section .testimonial .message .date {
      font-size: 1.1em;
      margin: 0.3em;
      font-weight: bold;
      color: #e87fa2; }

@media only screen and (max-width: 768px) {
  .testimonials-section h1 {
    text-align: center; }
  .testimonials-section .testimonial-list {
    width: 90%; }
    .testimonials-section .testimonial-list .testimonial {
      flex-flow: column; }
      .testimonials-section .testimonial-list .testimonial .message {
        width: 90%; } }

.stats {
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  -moz-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  display: flex;
  flex-flow: column;
  justify-content: center; }
  .stats .content {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: space-around;
    align-items: center; }
    .stats .content .one-stat {
      overflow: hidden;
      position: relative;
      width: 250px;
      height: 250px;
      background-size: cover;
      border-radius: 50%; }
      .stats .content .one-stat .text {
        background-image: linear-gradient(to right bottom, rgba(249, 195, 46, 0.8), rgba(159, 125, 30, 0.8));
        text-align: center;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translate(0%, -50%); }
        .stats .content .one-stat .text h2 {
          font-size: 2.5em;
          color: white;
          padding-bottom: 0;
          margin-bottom: 0%; }
        .stats .content .one-stat .text h4 {
          text-transform: uppercase;
          color: #1B1F3B; }

@media only screen and (max-width: 768px) {
  .stats {
    height: 190vh; }
    .stats .content {
      flex-flow: column; } }

@media only screen and (max-width: 420px) {
  .stats {
    height: 250vh; }
    .stats .content {
      flex-flow: column; } }

@media only screen and (max-width: 320px) {
  .stats {
    height: 270vh; }
    .stats .content {
      flex-flow: column; } }

.menu-section {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-flow: column;
  align-items: center; }
  .menu-section h1 {
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #e05483, #1B1F3B);
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase; }
  .menu-section .menu-list {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto; }
    .menu-section .menu-list .menu {
      margin: 1em 0;
      width: 300px;
      position: relative;
      -webkit-box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.75); }
      .menu-section .menu-list .menu img {
        width: 300px;
        height: 200px;
        object-fit: cover; }
      .menu-section .menu-list .menu .details h3 {
        text-align: center;
        font-size: 1.6em;
        text-transform: uppercase;
        background-color: rgba(63, 62, 22, 0.8);
        color: white;
        margin-top: -6px; }
      .menu-section .menu-list .menu .details p {
        padding: 0.3em 0.1em;
        width: 80%;
        font-size: 0.9em;
        line-height: 1.2em;
        color: #78762a; }
      .menu-section .menu-list .menu .details .items {
        background: rgba(224, 84, 131, 0.5);
        color: white;
        height: 20em;
        overflow: auto;
        padding: 0.5em 0; }
        .menu-section .menu-list .menu .details .items .item {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 0.5em; }
          .menu-section .menu-list .menu .details .items .item img {
            width: 110px !important;
            height: 110px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 0.7em; }
          .menu-section .menu-list .menu .details .items .item div {
            width: 90%; }
            .menu-section .menu-list .menu .details .items .item div h4 {
              color: #ae2050; }
            .menu-section .menu-list .menu .details .items .item div p {
              color: #1B1F3B;
              font-size: 0.7em;
              line-height: 15px; }
            .menu-section .menu-list .menu .details .items .item div .price {
              letter-spacing: 2px;
              padding: 0.3em 0.5em;
              width: fit-content;
              font-weight: bold;
              color: white;
              font-size: 1.1em;
              border-radius: 3px;
              background-image: linear-gradient(to right, #e05483, #1B1F3B); }

@media only screen and (max-width: 768px) {
  .menu-section .menu-list {
    flex-flow: column; } }

.call-to-action:link,
.call-to-action:visited {
  border-radius: 0.2em;
  transition: all 0.2s;
  position: relative;
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;
  font-weight: bold;
  color: #3f3e16;
  text-transform: uppercase; }

.btn-animated {
  animation: moveUp 1s ease-out; }

.call-to-action:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }

.call-to-action:active {
  transform: translateY(-2px);
  user-select: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.call-to-action::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.2em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.15s; }

.btn-white::after {
  background-color: #ffffff; }

.call-to-action:hover::after {
  transform: scaleX(2) scaleY(2);
  opacity: 0; }

.btn-white {
  background-color: #ffffff; }

.view-more {
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: #2E282A;
  text-align: center;
  letter-spacing: 0.3em;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
  user-select: none; }
  .view-more:hover {
    color: #2E282A;
    background-color: white;
    transition: all 0.2s;
    letter-spacing: 0.4em;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }
  .view-more:active {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #8b8830, #3f3e16); }

::-webkit-scrollbar-track {
  border: 2px solid #d3d181; }

::-moz-scrollbar {
  background: transparent; }

::-moz-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #8b8830, #3f3e16); }

::-moz-scrollbar-track {
  border: 2px solid #d3d181; }

::scrollbar {
  background: transparent; }

::scrollbar-thumb {
  background-image: linear-gradient(to bottom, #8b8830, #3f3e16); }

::scrollbar-track {
  border: 2px solid #d3d181; }
