.call-to-action:link,
.call-to-action:visited
{
    
    border-radius: 0.2em;
    transition: all 0.2s;
    position: relative;
    @include linkButton($actionTextColor);
}

.btn-animated{
    animation: moveUp 1s ease-out;
}

.call-to-action:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.call-to-action:active{
    transform: translateY(-2px);
    user-select: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.call-to-action::after{
    content : "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0.2em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.15s;
}
.btn-white::after{
    background-color: $backgroundColor;
}

.call-to-action:hover::after{
    transform: scaleX(2) scaleY(2);
    opacity: 0;
}
.btn-white{
    background-color: #ffffff;
}