.our-rooms-section{
    position: relative;
    height: 100vh;
    width : 100%;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 15vh, 100% 0%, 100% 85vh, 0% 100%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    .content{
        width : 85vw;
        // background-color: red;
        margin : 0 auto;
        height: 65vh;
        display: flex;
        justify-content: space-around;
        .card{
            
            width : 20em;
            border-radius: 0.5em;
            overflow: hidden;
            background-color: $bg_primary_color;
            display: inline-block;
            color: white;
            -webkit-box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.43);
            -moz-box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.43);
            box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.43);
            .slider{
                padding: 0;
                width: 100%;
                height: 12em;
                overflow: hidden;
                display: flex;
                flex-flow: column;
                img{
                   
                    width : 100%;
                    height: 15em;
                    object-fit: cover;
                    object-position: bottom;
                }
                img:first-child{
                    animation: roomImageSlide 10s ease-in-out infinite;
                }
            }
            h4{
                padding: 0.4em 0.5em;
                font-size: 1.3em;
                text-transform: uppercase;
                text-align: center;
            }
            .rates{
                
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23747350' fill-opacity='0.4' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
                padding: 0.5em;
               
                .rate-card{
                    margin: 0.5em 0.6em;
                    border : 2px dotted white;
                    height: 4em;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    
                    h5{
                        font-size: 1.2em;
                    }
                    p{
                        padding: 0.5em;
                        border-radius: 0.3em;
                        background-image: linear-gradient(to right ,    $bg_secondary_color,darken($bg_secondary_color ,15%));
                        font-weight: 600;
                    }
                }
            }
            
            
        }
    }
}

@media only screen  and (max-width: 1024px) {
    .our-rooms-section{
        height: 65vh;
        clip-path: polygon(0 15vh, 100% 0%, 100% 46vh, 0% 100%);
        .content{
            height: 30vh;
        }
    }
}
    
@media only screen  and (max-width: 768px) {
    .our-rooms-section{
        height: 95vh;
        clip-path: polygon(0 15vh, 100% 0%, 100% 75vh, 0% 100%);
        .content{
            height: 40vh;
            
        }
    }
    
  }

@media only screen and (max-width : 420px){
    .our-rooms-section{
        height: 150vh;
        clip-path: polygon(0 15vh, 100% 0%, 100% 135vh, 0% 100%);
        overflow: auto;
        .content{
            height: 120vh;
            flex-flow: column;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}

@media only screen and (max-width : 375px){
    .our-rooms-section{
        height: 170vh;
        clip-path: polygon(0 15vh, 100% 0%, 100% 150vh, 0% 100%);
        .content{
            height: 140vh;
        }
    }

}